* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75%;
  height: 100%;
  margin: auto;
}

/* SITE HEADER --------------------- */

.site-header {
  display: flex;
  align-items: center;
  background: lightslategrey;
}

.header-left {
  width: 50%;
  border: 1px solid black;
}

.header-right {
  width: 50%;
  border: 1px solid red;
}

.site-title {
  padding: 20px 0px;
  font-family: sans-serif;
  font-size: 4.5rem;
}

.btn-products {
  align-self: center;
  font-family: sans-serif;
  font-size: 1.5rem;
}

/* SITE BODY ------------------------ */

.beer-display {
  margin-top: 40px;
  height: 500px;
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
}

.product-img-container {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: pink;
}

.product-info-container {
  display: flex;
  width: 50%;
  height: 100%;
  background-color: lightgrey;
}
